body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%; /* as it is 100% + 10px + 10px, so we'll do box-sizing*/
    padding: 10px; /*all sides same padding */
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    color: white;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 10px 20px; /*top bottom y, left right x*/
    border: none;
    font-weight: bold;

}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {                          /*for link under list input not any other link, only tagets anchor targets that list under input*/
    color: #5f9341
}